.section {
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}
.section__header {
  font-size: 2.7rem;
  margin: 10px 0;
}

.avatar {
  max-width: 200px;
  max-height: 200px;
}

.profile {
  display: flex;
  flex-direction: row;
}
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 50px;
}
.input {
  font-size: 1.5rem;
  padding: 0 0 0 15px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
}
.user-name {
  flex-grow: 2;
  font-size: 2.5rem;
}
.user-surname {
  flex-grow: 1;
  width: 150px;
  max-height: 50px;
}
.user-fname {
  flex-shrink: 1;
  max-height: 50px;
}

.exams__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.exams__label {
  font-size: 1.3rem;
  margin: 0 15px 0 0;
}
.exam-grade {
  max-width: 50px;
  border: 1px solid #c1c1c1;
  float: right;
}
.exams__fieldset {
  border-radius: 10px;
  margin: 5px;
  border: 1px solid rgba(100, 100, 100, 0.1);
}
